@font-face {
    font-family: 'Digital Numbers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital Numbers Regular'), url('../fonts/DigitalNumbers-Regular.woff') format('woff');
}

body {

}

#settings button {
    background: #f4f4f4;
    border: 2px solid #3d3d3d;
}

#settings button.active {
    background: #5a5a5a;
    border: 2px solid #3d3d3d;
    color: #fff;
}

#game {
    background: #5a5a5a;
    position: relative;
    margin: 0 auto;
}
#game.ready,
#game .cell {
    border: 1px solid #5a5a5a;
}
#game .cell {
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    font-size: 35px;
    text-align: center;
    min-width: 1px;
    min-height: 1px;
    transition: all 200ms ease-in-out;
}
.cell-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.solution {
    margin: 30px auto;
}
